@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --dark-one: theme("colors.dark.one");
  --dark-two: theme("colors.dark.two");
  --dark-three: theme("colors.dark.three");
}

html, body {
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Sans-Serif;
  color: white;
}
