package templates

templ GameHeader() {
	<script type="module" src="/game.js" defer></script>
}

templ Game(url string) {
	<div class="flex-grow relative flex">
	  <creeps-canvas url={ url } />
		<side-panel>
			Bonojur
		</side-panel>
	</div>
}
